<div id="sidebar">
    <h3>Detalhes da conta</h3>
    <p>Total de espaço</p>
    <div class="progress">
        <div class="bar usage" >80% Usado</div>
        <div class="bar color free">20% livre</div>
    </div>  

    <form action="" id="addSharer">
        <legend>Compartilhar drive</legend>
        <input type="email" id="addSharerInput" placeholder="Email...">
        <input type="submit" value=">" class="btn">
    </form>

    <p>Compartilhados</p>
    <ul id="shared-list">
        <li>Nenhum</li>
    </ul>

    <a href="" class="btn">Editar informações</a>
    <a href="" class="btn red">Sair</a>
</div>